.container {
  width: 1000px;
  height: 250px;
  border: 2px solid black;
  border-radius: 3px;
  margin: 0 auto;
  background-color: rgb(255, 248, 239);
}

.left-box {
  float: left;
  width: 75%;
  height: 100%;
}

.right-box {
  float: left;
  width: 25%;
  height: 100%;
}

.right-box img {
  width: 100%;
  height: 100%;
  scale: 90%;
}

.profile {
  width: 100%;
  height: 25%;
}

.profile img {
  width: 10%;
  height: 100%;
  float: left;
}

.profile h1 {
  margin: 0;
  font-size: 20px;
  padding-top: 6px;
}

.profile p {
  margin: 0;
  font-size: 15px;
  color: rgb(32, 32, 32);
}

.title {
  width: 100%;
  height: 25%;

}

.title h1 {
  margin: 0;
  font-size: 40px;
  margin-left: 20px;
}

.content {
  width: 100%;
  height: 50%;
}

.content p {
  margin: 0;
  margin-left: 20px;
  font-size: 23px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar li{
  width: 50px;
  text-align: center;
  display: inline-block;
  background-color: #eee;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 2px 2px 2px gray;
  margin: 10px;
}

.navbar li:hover{
  background-color: #d9d8d8;
  transition: background-color 0.5s;
}

.navbar a {
  font-size: 16px;
  text-decoration: none;
  color: blue;
}