body{
  height: 700px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title{
  font-size: 50px;
  color:rgb(182, 162, 52);
  width: 600px;
  height: 600px;
  border: 20px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  text-align: center;
}