body {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border-style: none;
}

input {
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Arial", sans-serif;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  color: #6fbaf8;
}

.container {
  padding: 50px 150px;
  background-color: #f7f9fc;
}

.firstlayout {
  width: 100%;
  height: 20vw;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  border-radius: 5px;
  box-shadow: rgb(197, 197, 197) 2px 2px 2px;
  margin-bottom: 3vw;
}

.firstlayout > div {
  margin: 3vw 1vw;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2vw;
}

.profile-image img {
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
}

.profile-info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-info1-name {
  font-size: 2.5vw;
}

.profile-info1-job {
  font-size: 1.2vw;
}

.profile-info1-location {
  color: #6fbaf8;
  font-size: 1.2vw;
  padding: 1vw 0;
}

.profile-info1-location i {
  margin-right: 0.5vw;
}

.profile-info1-button {
  color: white;
  background-color: #6fbaf8;
  border: none;
  border-radius: 5px;
  padding: 0.7vw 1vw;
  font-size: 1.2vw;
  width: 7vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-info1-button:hover {
  background-color: #8acbff;
}

.profile-info2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vw 2vw;
  border-left: 2px solid rgba(128, 128, 128, 0.484);
}

.profile-info2-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2vw;
}

.profile-info2-row p:first-child {
  font-weight: 600;
}

.secondlayout {
  padding: 1vw;
  border-bottom: 2px solid rgba(128, 128, 128, 0.484);
  margin-bottom: 1vw;
}

.secondlayout p{
  color: #6fbaf8;
  font-size: 1.5vw;
}

.thirdlayout {
  min-height: 40vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1vw;
}

.thirdlayout-1 {
  padding-top: 2vw;
  padding-left: 2vw;
  height: 25vw;
  background-color: white;
  box-shadow: rgb(197, 197, 197) 2px 2px 2px;
  border-radius: 5px;
}

.thirdlayout-1 h1 {
  font-size: 1.7vw;
  padding-bottom: 1vw;
}

.thirdlayout-1 p {
  font-size: 1.2vw;
  padding: 0.1vw 0px;
}

.thirdlayout-2 {
  padding: 2vw;
  background-color: white;
  box-shadow: rgb(197, 197, 197) 2px 2px 2px;
  border-radius: 5px;
}

.about {
  border-bottom: 2px solid rgba(128, 128, 128, 0.484);
  min-height: 15vw;
  margin-bottom: 2vw;
}

.about h1 {
  font-size: 1.7vw;
  padding-bottom: 1vw;
}

.about p {
  font-size: 1.2vw;
  line-height: 1.5vw;
}

.skill h1 {
  font-size: 1.7vw;
  padding-bottom: 1vw;
}

.skill-type {
  display: flex;
  flex-wrap: wrap;
}

.skill-type p {
  font-size: 1.2vw;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0.2vw 1vw;
  margin-right: 0.5vw;
  margin-bottom: 1vw;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vw;
  padding: 2vw 0vw;
  text-align: center;
  row-gap: 0.5vw;
  box-shadow: rgb(197, 197, 197) 2px 2px 2px;
  border-radius: 5px;
}

.signup i {
  color: #6fbaf8;
  font-size: 6vw;
}

.signup p {
  font-size: 1.1vw;
  padding-bottom: 1vw;
}

.signup button {
  background-color: #6fbaf8;
  border: none;
  width: 8vw;
  font-size: 1.2vw;
  color: white;
  padding: 0.8vw;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup button:hover {
  background-color: #8acbff;
}

.signup a {
  color: #6fbaf8;
  font-size: 1vw;
}

.push {
  height: 20vw;
  padding-top: 2vw;
}

.push-title {
  border-bottom: 2px solid rgba(128, 128, 128, 0.484);
  padding: 1vw;
  font-size: 1.1vw;
}

.push-profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 1.5vw;
}

.push-profile img {
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
}

.push-profile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1vw;
}

.push-profile-content h1 {
  font-size: 1.2vw;
}

.push-profile-content p {
  font-size: 1vw;
  font-weight: 100;
}

.push-profile-locatoin {
  font-size: 1vw;
  color: #6fbaf8;
}

.push-profile-locatoin i {
  padding-right: 0.3vw;
}