.box {
  width: 200px;
  background-color: aqua;
  padding: 40px;
  border: 4px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
  box-shadow: 5px 5px 5px gray;
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.left-menu {
  width: 20%;
  height: 400px;
  background-color: cornflowerblue;
  display: inline-block;
}

.right-menu {
  width: 80%;
  height: 400px;
  background-color: coral;
  display: inline-block;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: gray;
  clear: both;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.main-background {
  box-shadow: 5px 5px 5px gray;
  border: 2px solid black;
  border-radius: 3px;
  width: 500px;
  height: 400px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0,0,0,0.2) ), url(../images/robot.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  transition: background-image 1s;
}

.main-background h4{
  color: white;
  font-size: 30px;
  margin: 0;
}

.main-background p{
  color: white;
  font-size: 20px;
  margin: 0;
}

.main-background button{
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: none;
  background-color: transparent;
  font-weight: 900;
  color: white;
  cursor:pointer;
  margin-top: 15px;
  transition: all 0.4s;
}

.main-background button:hover{
  transition: all 0.4s;
  background-color: black;
  border: 1px solid black;
}

.main-background2 {
  box-shadow: 5px 5px 5px gray;
  border: 2px solid black;
  border-radius: 3px;
  width: 500px;
  height: 400px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0,0,0,0.2) ), url(../images/소년시절의\ 너.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;
  transition: background-image 1s;
}

.main-background2 h4{
  color: white;
  font-size: 30px;
  margin: 0;
}

.main-background2 p{
  color: white;
  font-size: 20px;
  margin: 0;
}

.main-background2 button{
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: none;
  background-color: transparent;
  font-weight: 900;
  color: white;
  cursor:pointer;
  margin-top: 15px;
  transition: all 0.4s;
}

.main-background2 button:hover{
  transition: all 0.4s;
  background-color: black;
  border: 1px solid black;
}

body {
  background-color: #eee;
}

a{
  color: white;
  text-decoration: none;

}